<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        
        <!-- Blog -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- JavaScript -->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
        <!-- Bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <script>
        $( function() {
          $( "#progressbar" ).progressbar({
            value: {{ price }}/{{ price_max }}*100
          }).append("<div class='caption'>37%</div>");
        } );
        </script>
        <script>
          $( function() {
            $( "#progressbar-1" ).progressbar({
              value: {{ rating }}/{{ rating_max }}*100
            });
          } );
          </script>
          <script>
          $( function() {
            $( "#progressbar-2" ).progressbar({
              value: {{ review }}/{{ review_max }}*100
            });
          } );
          </script>
      <script>
          $( function() {
            $( "#progressbar-3" ).progressbar({
              value: {{ response_time }}/{{ response_time_max }}*100
            });
          } );
          </script>
    </head>
     <table style="width:100%; height: 7px"; border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="25%" bgcolor="#6B7A8F"></td>
            <td width="25%" bgcolor="#F7882F"></td>
            <td width="25%" bgcolor="#F7C331"></td>
            <td width="25%" bgcolor="#B0B391"></td>
        </tr>
    </table>
    <div class="introduction">
        <h1>Check out your profile scores below</h1>
        <h1>Click on the boxes below to learn how to improve.</h1>
    </div>
    <div class="container">
      <div class="swatchblock">
        <div class="swatch1">
          <p>Price</p>
          <div class="swatch">
            <p>The boarding price of {{ city }} varies with a low of {{ price_min }}, average of {{ price_mean }}, and high of {{ price_max }}. Your price is {{ price }}.</p>
            <div class="box">
            <meter min={{ price_min }} max={{ price_max }} low={{ price_mean }} high={{ price_mean }} optimum={{ price_max }} value= {{ price }} ></meter>
            <div id="min">{{ price_min }}</div>
            <div id="max">{{ price_max }}</div>
            </div>
          </div>
        </div>
        <div class="swatch2">
          <p>Reviews</p>
          <div class="swatch">
            <p>The profile reviews of {{ city }} vary with a low of {{ review_min }}, average of {{ review_mean }}, and high of {{ review_max }}. Your review is {{ review }}.</p>
            <div class="box">
            <meter min={{ review_min }} max={{ review_max }} low={{ review_mean }} high={{ review_mean }} optimum={{ review_max}} value={{ review }}></meter>
            <div id="min">{{ review_min }}</div>
            <div id="max">{{ review_max }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swatchblock">
        <div class="swatch1">
          <p>Ratings</p>
          <div class="swatch" id="c7">
            <p>The profile ratings of {{ city }} vary with a low of {{ rating_min }}, average of {{ rating_mean }}, and high of {{ rating_max }}. Your rating is {{ rating }}.</p>
            <div class="box">
            <meter min={{ rating_min }} max={{ rating_max }} low={{ rating_mean }} high={{ rating_mean }} optimum={{ rating_max}} value={{ rating }}></meter>
            <div id="min">{{ rating_min }}</div>
            <div id="max">{{ rating_max }}</div>
            </div>
          </div>
        </div>
        <div class="swatch2">
          <p>Response Time</p>
          <div class="swatch">
            <p>The profile response time of {{ city }} vary with a low of {{ response_min }}, average of {{ response_mean }}, and high of {{ response_max }}. Your response time is {{ response_time }}.</p>
            <div class="box">
            <meter min={{ response_time_min }} max={{ response_time_max }} low={{ response_time_mean }} high={{ response_time_mean }} optimum={{ response_time_min }} value={{ response_time }}></meter>
            <div id="min">{{ response_time_min }}</div>
            <div id="max">{{ response_time_max }}</div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</html>



