{% extends "base.html" %}
{% block content %}

<div class="introduction">
    <h1>Profile scores for insert below</h1>
    <h1>Click on the boxes below to learn how to improve.</h1>
</div>
<div class="container">
  <div class="swatchblock">
    <div class="swatch1">
      <p>Price</p>
      <div class="swatch" id="c5">
        <p>Text</p>
      </div>
    </div>
    <div class="swatch2">
      <p>Reviews</p>
      <div class="swatch" id="c6">
        <p>Text</p>
      </div>
    </div>
  </div>
  <div class="swatchblock">
    <div class="swatch1">
      <p>Ratings</p>
      <div class="swatch" id="c7">
        <p>Text</p>
      </div>
    </div>
    <div class="swatch2">
      <p>Response Time</p>
      <div class="swatch" id="c8">
        <p>Text</p>
      </div>
    </div>
  </div>
  </div>
</div>


{% endblock %}