<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Profile Compare</title>

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Blog -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- JavaScript -->
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <ul class="navbar navbar-default navbar-static-top" role="navigation">
        <li><a href="default.asp">Home</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
      </ul>
      <div class="introduction">
        <h1>Stand out from the crowd. Every time.</h1>
        <h1>Learn how to improve your profile in 3 simple steps.</h1>
      </div>
      <div class="images">
        <img src="http://dummyimage.com/200x200/444/fff" title="Visit Computer Hope">
        <span>&#10095;</span>
        <img src="http://dummyimage.com/200x200/444/fff">
        <span>&#10095;</span>
        <img src="http://dummyimage.com/20å0x200/444/fff">
        <span class="stretch"></span>
      </div>
      <div class="wrapper">
       <input type="text" id="text" placeholder="Input your url">
       <button>Get started!</button>
      <div>
    </body>
</html>