{% extends "base.html" %}
{% block content %}

<div class="introduction">
    <h1>Stand out from the crowd. Every time.</h1>
    <h1>Learn how to improve your profile in 3 simple steps.</h1>
</div>
<div class="images">
    <div class ="imgcontainer">
        <img src="http://dummyimage.com/200x200/444/fff">
        <h2>Enter your profile URL</h2>
    </div>
    <span>&#10095;</span>
    <div class ="imgcontainer">
        <img src="http://dummyimage.com/200x200/444/fff">
        <h2>Review your scores</h2>
    </div>
    <span>&#10095;</span>
    <div class ="imgcontainer">
        <img src="http://dummyimage.com/200x200/444/fff">
        <h2>Get recommendations</h2>
    </div>
</div>
<div class="wrapper">
    <input type="text" id="text" placeholder="Input your url">
    <button>Get started!</button>
<div>

{% endblock %}