@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* { margin: 0; padding: 0; }

.introduction,
.images,
.form-group{
  text-align: center;
  font-family: 'Open Sans';
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.navbar {
    list-style-type: none;
    background-color: #DCC7AA;
    font-weight: 300;
}

.navbar > li {
  float: left;
}

.navbar > li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}

/* Change the link color on hover */
.navbar > li a:hover {background-color: #F9CF00;}

.introduction {
  color: #6B7A8F;
  text-align: center;
  font-weight: 200;
  max-width: 60em;
}

h1{
  font-weight: 300;
}

h2{
  font-weight: 300;
  font-size: 1.5em;
}

.images{
  max-width: 80em;
  margin-bottom: 1em;
}

.imgcontainer {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.imgcontainer > img {
  border:2px solid white;
  border-radius: 20px
}

span{
  font-size: 3em;
  color:#F9CF00;
  padding: .5em;
}


.form-group{
  display:flex;
  align-items:center;
  justify-content:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-color: #6B7A8F;
  height: 10em;
  margin-bottom: auto;
}

input{
  color:#333;
  box-sizing:border-box;
  width: 400px;
  border:none;
  padding:15px;
  font-size:18px;
  margin-right:20px;
}
button{
  background-color:#F7882F;
  border:2px solid white;
  color:white;
  padding:15px;
  font-size:18px;
  width:200px;
  transition:all 150ms ease-in-out;
}
button:hover{
  cursor:pointer;
  transform:scale(1.1);
}
button:focus,input {
  outline:0;
}

.divSquare{
  width:48%; 
  height:200px; 
  margin:6px; 
  border:1px solid black; 
  float: left
}

p {
  margin: 1px;
  padding: .5em;
}

.swatchblock {
  max-width: 500px;
  margin: 1em;
  height: 250px;
  display: inline-block;
}

.swatch1,
.swatch2 {
  width: 33em;
  margin: 1em;
  margin-left: 3em;
  background: #F7882F;
  color: white;
  border-radius: .5em;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-bottom-left-radius: .5em;
  border-bottom-right-radius:.5em;
}

.swatch {
  height: 200px;
  background: #6B7A8F;
  color: white;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  position: relative;
}

.box{
  width: 400px;
  margin-left: 2em;
  margin-top: 2em;
  overflow: hidden;
  float: left;
}


#min {
    float: left; 
    line-height: 30px; 
    color: white;
}
#max {
    float: right; 
    line-height: 30px; 
    color: white;
}

meter {
  width: 100%;
  height: 25px;
  margin: 0px;
  background: #EEE;
  text-align: left;
}

.styled meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 30px;
  
  /* For Firefox */
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

/* WebKit */
.styled meter::-webkit-meter-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

.styled meter::-webkit-meter-optimum-value,
.styled meter::-webkit-meter-suboptimum-value,
.styled meter::-webkit-meter-even-less-good-value {
  border-radius: 3px;
}

.styled meter::-webkit-meter-optimum-value {
  background: #86CC00;
}

.styled meter::-webkit-meter-suboptimum-value {
  background: #FFDB1A;
}

.styled meter::-webkit-meter-even-less-good-value  {
  background: #CC4600;
}


/* Firefox */
.styled meter::-moz-meter-bar {
  border-radius: 3px;
}

.styled meter:-moz-meter-optimum::-moz-meter-bar {
  background: #73AD05;
}

.styled meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: #FFDB1A;
}

.styled meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: #CC4600;
}

.styled-1 meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 30px;
  
  /* For Firefox */
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

/* WebKit */
.styled-1 meter::-webkit-meter-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

.styled-1 meter::-webkit-meter-optimum-value,
.styled-1 meter::-webkit-meter-suboptimum-value,
.styled-1 meter::-webkit-meter-even-less-good-value {
  border-radius: 3px;
}

.styled-1 meter::-webkit-meter-optimum-value {
  background: #86CC00;
}

.styled-1 meter::-webkit-meter-suboptimum-value {
  background: #FFDB1A;
}

.styled-1 meter::-webkit-meter-even-less-good-value  {
  background: #CC4600;
}


/* Firefox */
.styled-1 meter::-moz-meter-bar {
  border-radius: 3px;
}

.styled-1 meter:-moz-meter-optimum::-moz-meter-bar {
  background: #CC4600;
}

.styled-1 meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: #FFDB1A;
}

.styled meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: #CC4600;
}