@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body{
  margin:0;
  text-align: center;
  font-family: 'Open Sans';
  background-color:#6B7A8F;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #DCC7AA;
    border-bottom: 3px solid #fff;
}

.navbar > li {float: left;}

.navbar > li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}

/* Change the link color on hover */
.navbar > li a:hover {background-color: #F9CF00;}

.introduction {
  color: #fff;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
  font-weight: 200;
}

h1{
  font-weight: 300;
}

.images {
  display: inline;
  padding: 0em;
}

span{
  font-size: 10;
  color:#F9CF00;
  padding:.5em;
}

.stretch {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.wrapper{
  margin-top: 5em;
  display:flex;
  align-items:center;
  justify-content:center;
  background-repeat:no-repeat;
  background-size:cover;
}
input{
  color:#333;
  box-sizing:border-box;
  width: 400px;
  border:none;
  padding:15px;
  font-size:18px;
  margin-right:20px;
}
button{
  background-color:#F7882F;
  border:2px solid white;
  color:white;
  padding:15px;
  font-size:18px;
  width:200px;
  transition:all 150ms ease-in-out;
}
button:hover{
  cursor:pointer;
  transform:scale(1.1);
}
button:focus,input {
  outline:0;
}



